body{
  background-color: #b0e0e6;
}

.nav_style{background-color:#004d40;}

.sidenav{
  background-color:#90caf9;

}


.container{
  float:right;
margin-right: 70px;

}

.filter{
  float:left;
  margin-left: 70px;
}
.reverse{
  float:left;
  color:#0D47A1;
  font-weight: bolder;

}
